@page
@model FoodOrderSystem_J103042.Pages.Menu.IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h1 class="text-center">Menu</h1>

<div class="row">
    @foreach (var item in Model.FoodItems)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Item_Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Item_Name</h5>
                    <p class="card-text">@item.Item_Desc</p>
                    <h6 class="text-success">£@item.Price</h6>

                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="itemId" value="@item.ID" />
                        <input type="hidden" name="name" value="@item.Item_Name" />
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="image" value="@item.ImageUrl" />
                        <button type="submit" class="btn btn-primary w-100">🛒 Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
