@page
@model IndexModel

<div class="text-center">
    <h2 class="display-4">Our Menu Items</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var tblFoodItems in Model.FoodItem)
            {
                <tr>
                    <td>@tblFoodItems.ID</td>
                    <td>@tblFoodItems.Item_Name</td>
                    <td>@tblFoodItems.Item_Desc</td>
                    <td>@tblFoodItems.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h2>Flexbox example</h2>

<div class="flex-container">
    @foreach (var tblFoodItems in Model.FoodItem)
    {
        <div>
            <p>@Html.DisplayFor(modelItem => tblFoodItems.Item_Name)</p>
            <p>@Html.DisplayFor(modelItem => tblFoodItems.Price)</p>
            <p>@Html.DisplayFor(modelItem => tblFoodItems.Item_Desc)</p>
        </div>
    }
</div>
